doctype html
html(lang="en")
  //- Include for html-page head. Can be extended with title
  head
    include ./includes/head.pug
  body
    //- Main content part. Can be extended in children elements
    block content