//- Inherits from main loyout
extends layouts/main.pug

//- Content part. Everything from this file goes into body tag
block content
  h1.text-green-900.font-bold.text-2xl Hello World

//- Append head block to add individual page title
append head
  title Index page