//- Inherits from main loyout
extends layouts/main.pug

//- Content part. Everything from this file goes into body tag
block content
  h1.text-green-900.font-bold.text-2xl Hello World

//- Page title. You can also append head with meta into this block 
append head
  title Index page